.book-page {
  padding: 0 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 40px;

  &__image {
    width: 35%;
    height: 70%;
  }

  &__info {
    width: 60%;
    padding-right: 20px;
  }

  &__categories {
    font-style: italic;
    color: #434343;
    margin-bottom: 20px;
  }

  &__description {
    line-height: 145%;
    font-size: 14px;
    text-align: justify;
  }
}
